@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    padding: 30px 0 113px 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}


.subheading {
    font-family: 'Work Sans', sans-serif;

    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
}

.text {
    line-height: 188%;
    color: #2C2C2C;
}

.border-text {
    font-size: 15px;
    line-height: 200%;
}


.page {}

.page__fish {
    margin-bottom: 21px;
}

.page__prototype {
    margin-bottom: 30px;
}

.page__idealization {
    margin-bottom: 168px;
}

.page__idiom {}


.fish {}

.fish__heading {
    font-family: 'Work Sans', sans-serif;

    font-weight: 900;
    font-size: 38px;
    line-height: 130%;
    text-align: center;

    margin-bottom: 21px;
}

.fish__text {}


.prototype {}

.prototype__subheading {}

.prototype__text {}

.prototype__wrap-image {
    text-align: center;

    margin-bottom: 13px;
}

.prototype__image {}


.idealization {}

.idealization__subheading {
    margin-bottom: 15px;
}

.idealization__border {
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 10px;

    max-width: 346px;
    margin: 0 auto;

    padding: 27px 30px 34px 31px;
}

.idealization__text {}


.idiom {}

.idiom__subheading {
    margin-bottom: 33px;
}

.idiom__text {
    text-align: center;

    margin-bottom: 25px;
}

.idiom__border {
    border: 3px solid #000000;
    box-shadow: 4px 4px 4px rgba(188, 54, 54, 0.5);
    border-radius: 7px 10px 4px 20px;

    max-width: 346px;
    margin: 0 auto;
}

.idiom__title {
    font-family: 'Source Sans Pro', sans-serif;

    font-weight: 700;
    font-size: 24px;
    line-height: 104%;
    text-align: center;

    padding: 25px 0 20px 0;
}

.idiom__info {
    text-align: center;

    padding: 0 0 25px 0;
}